<h1> "MY WAY" SONGS </h1>
<% if logged_in?  %>
<h3>You are logged is as: <%= current_user.email %></h3>
<% end %>
<% @my_songs.each do |s|  %> 
<%= s.id %> -  <a href="/my_songs/<%=s.id%>"><%=s.rename %></a> <br>
<% end %>