<h2>ENTER ORIGINAL SONG YOU WOULD LIKE TO DO YOUR WAY!</h2>

<form method="POST" action="/my_songs">

    Name: <input type="text" name="song[song]">
    Musician: <input type="text" name="song[musician]">
    Genre: <input type="text" name="song[genre]">
    Year: <input type="text" name="song[year]">

    <br>
    <br>

<h2>SONG RECREATED - "MY WAY"</h2>
    Renamed: <input type="text" name="my_song[rename]">
    Cover in the style of: <input type="text" name="my_song[style_of_remake]">
    Note: <input type="text" name="my_song[add_note]">
  
    <input type="submit" value="Make Song">
</form>
